@font-face {
    font-family: 'Gobold Regular';
    src: url('../typ/TipografiaTitulos/Gobold Regular.otf');
}

@font-face {
    font-family: 'Cocogoose Light';
    src: url('../typ/tipografiaTextoCorrido/Cocogoose Pro Light-trial.ttf');
}
#temaSeleccionado{
    font-family: 'Gobold Regular';
    position: fixed;
    margin-top: 50%;
    margin-left: 28%;
    text-align: center;
    color:white;
    font-size: 4vw;
}

p{ 
    font-size: 2.6vw;
    opacity: 0;
    margin-top: 8%;
    margin-left: 66%;
    font-family: 'Cocogoose Light';
    color:white;
    text-align: left;
    width:27%;
}

/* Principal */
.gameButtons{
    position: fixed;
    left: 42%;
}
#btnInicioJuego{
    bottom: 30%;
}
#btnCatrinas{
    bottom: 22%;
}
#btnTemas{
    bottom: 14%;
}
.menuButton{
    position: fixed;
    bottom:3%;
}
#btnPuntuacion{
    left: 23%;
}
#btnSilenciar{
    left: 38%;
}
#btnInstrucciones{
    left: 53%;
}
#btnCreditos{
    left: 68%;
}

/* Principal */
.catrina.catrina-first{
    margin-top: -381px;
}
.catrina.catrina-second{
    margin-top: -227px;
}
.catrina.catrina-third{
    margin-top: -74px;
}
#boton-down{
    position: fixed;
    padding-left: 82%;
}
#boton-down2{
    position: fixed;
    padding-left: 68%;
}

.boton-up{
    bottom: 15%;
    padding-top: 90%;
}


@keyframes fadeInOut {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOutIn {
    from {opacity: 1;}
    to {opacity: 0;}
}

.title{
    font-family: 'Gobold Regular';
    font-size: 5vw;
    margin-left: 62%;
    color: #fcdc28;
}

.instructions-container{
    margin-top: 26%;
    float: right;
}

/* p{
    opacity: 0;
    margin-top: 22%;
    margin-left: 14%;
    font-family: 'Cocogoose Light';
    font-size: 2.7vw;
    color:white;
    width: 66%;
    text-align: left;
} */

p.show{
    animation-name: fadeInOut;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#unloaded.animation{
    animation-name: fadeOutIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#loaded.animation{
    animation-name: fadeInOut;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.bottom-button{
    position: fixed;
    bottom: 5%;
    width: 97%;
}

.bottom-button.credits{
    bottom: 4% !important;
}

.bottom-button.puntuacion{
    bottom: 4% !important;
}

input{
    float: right;
    margin-right: 5%;
}

input.puntuacion{
    margin-right: 3% !important;
}

.btnToMenu{
    float: right;
    margin-right: 21%;
}


input:hover{
    box-shadow:0px 2px 10px 5px #97B1BF;
 }

 .themes-selection{
    float:none;
    margin-left: 24%;
    margin-right: 20%;
    margin-top:4%;
}

.themes-selection-first{
    float:none;
    margin-left: 24%;
    margin-right: 20%;
    margin-top:29%;
}

.candles{
    position: relative;
    top: 600px;
    opacity: 1;
}

.loaded-candles{
    position: relative;
    top: 600px;
    opacity: 0;
}

img.right-candle{
    position: absolute;
    right:0;
    top: 350px;
}

img.left-candle{
    position: absolute;
    top: 350px;
}

#themes{
    display: none;
}

#themes.animationIn{
    animation-name: fadeInOut;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#themes.animationOut{
    animation-name: fadeOutIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


#loading.animation{
    animation-name: fadeOutIn;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}
   
.selection-buttons input{
    position: fixed;
    bottom: 4%;
    left: 83%;
}

.selection-buttons input.second{
    position: fixed;
    bottom: 4%;
    left: 68%;
}

#principal{
    display: none;
}

.background{
    position:absolute;
    left:0;
    top:0;
    z-index: -1;
}

#principal.animationIn{
    animation-name: fadeInOut;
    animation-duration: 0.7s;;
    animation-fill-mode: forwards;
}

#principal.animationOut{
    animation-name: fadeOutIn;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#instructions{
    display: none;
}
#instructions.animationIn{
    animation-name: fadeInOut;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#instructions.animationOut{
    animation-name: fadeOutIn;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#puntuacion{
    display: none;
}
#puntuacion.animationIn{
    animation-name: fadeInOut;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#puntuacion.animationOut{
    animation-name: fadeOutIn;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#game{
    display: none;
}
#game.animationIn{
    animation-name: fadeInOut;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#game.animationOut{
    animation-name: fadeOutIn;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#catrinas{
    display: none;
}
#catrinas.animationIn{
    animation-name: fadeInOut;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#catrinas.animationOut{
    animation-name: fadeOutIn;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#credits{
    display: none;
}
#credits.animationIn{
    animation-name: fadeInOut;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#credits.animationOut{
    animation-name: fadeOutIn;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.catrina{
    position: fixed;
    margin-top: 67px;
    margin-left: 59px;
    padding-top: 0%;
}

#creditsToMenu{
    float: right;
    margin-right: 4%;
}

/* Juego */
#btnJugar{
    position: fixed;
    bottom:6% ;
    left: 13%;
}
#btnPausa{
    position: fixed;
    bottom:4% ;
    left: 82%;
}
#btnMenu{
    position: fixed;
    bottom:4% ;
    left: 70%;
}
.keyboard{
    position: fixed;
    width: 5%;
}
.firstRowButtons{
    bottom:25%;
}
.secondRowButtons{
    bottom:20%;
}
.thirdRowButtons{
    bottom:15%;
}
.fourthRowButtons{
    bottom:10%;
}
.firstColumnButtons{
    left: 28%;
}
.secondColumnButtons{
    left: 34%;
}
.thirdColumnButtons{
    left: 40%;
}
.fourthColumnButtons{
    left: 46%;
}
.fifthColumnButtons{
    left: 52%;
}
.sixthColumnButtons{
    left: 58%;
}
.seventhColumnButtons{
    left: 64%;
}
.eighthColumnButtons{
    left: 70%;
}
#animal{
    position: fixed;
    margin-top: 65%;
    left: 27%; 
    
}
#color{
    position: fixed;
    margin-top: 92%;
    left: 27%;
}
#elemento{
    position: fixed;
    margin-top: 120%;
    left: 27%;
}

#cara1{
    position: fixed;
    margin-top: 14%;
    left: 34%; 
    
}
#cara2{
    position: fixed;
    margin-top: 60%;
    left: 34%;
}
#cara3{
    position: fixed;
    margin-top: 106%;
    left: 34%;
}
/* Juego */
/* Catrina */
.catrinaBody{
    position: fixed;

}
.catrinaHead{
    width: 8%;
    bottom: 51%;
    left: 51%;
}
#fail6{
    width: 5%;
    bottom: 48%;
    left: 54%;
}
#fail5{
    bottom: 48%;
    left: 45%;
}
#fail4{
    bottom: 45.5%;
    left: 58%;
}
#fail3{
    bottom: 46.5%;
    left: 52%;
}
#fail2{
    bottom: 42%;
    left: 45%;
}
#fail1{
    bottom: 42%;
    left: 56%;
}
/* Catrina */


.keyboard.primera{
    left: 171px;
    top:125px;
    display: none;
}

.keyboard.animation{
    animation-name: fadeInOut;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.keyboard.segunda{
    left: 234px;
    top:218px;
    display: none;
}

.keyboard.tercera{
    left: 331px;
    display: none;
    top:127px;
}

.keyboard.cuarta{
    left: 433px;
    top:189px;
    display: none;
}
.keyboard.quinta{
    left: 548px;
    top:123px;
    display: none;
}

.keyboard.sexta{
    left: 669px;
    top:185px;
    display: none;
}

.keyboard.septima{
    left: 787px;
    top:127px;
    display: none;
}

.keyboard.octava{
    left: 886px;
    top:220px;
    display: none;
}

/* Scores */
.scores{
    font-family: 'Gobold Regular';
    color: white;
    font-size: 3vw;
    margin-left: 45%;
    position: fixed;
}
#score1{
   
    margin-top:105% ;
}
#score2{
   margin-top: 117%;
}
#score3{
   margin-top:130% ;
}
#score4{
   margin-top:145% ;
}

