body{
    background-image: url("../img/PANTALLA-PRINCIPAL.jpg");
    background-repeat: no-repeat;
    margin:0;
}
input:hover{
    box-shadow:0px 2px 10px 5px #97B1BF;
 } 
/* Responsive */
@media screen and (min-width:320px){
    body{
        background-size:320px 537px ;
    }
    .buttonClass{
        padding-top:148%;
        width:10%;
        height: 10%;
        position: fixed;
    }
    #btnPuntuacion{
        padding-top: 5px;
        bottom:30px;
        left:23% ;
    }
    #btnSilenciar{
        padding-top: 5px;
        bottom:30px;
        left: 37%;
    }
    #btnInstrucciones{
        padding-top: 5px;
        bottom:30px;
        left: 51%;
    }
    #btnCreditos{
        padding-top: 5px;
        bottom:30px;
        left: 66%;
    }

    .gameButtons{
        left:41% ;
        position:fixed;
        height: 5%;
    }
    #btnInicio{
        bottom: 168px;
    }
    #btnCatrinas{
        bottom: 134px;
    }
    #btnTemas{
        bottom: 101px;
    }
}
/* Pixel 2*/
@media screen and (min-width:411px){
    body{
        background-size:411px 731px ;
    }
    .buttonClass{
        padding-top:152%;
        width:11%;
        height: 11%;
        position: fixed;
    }
    #btnPuntuacion{
        left:23% ;
    }
    #btnSilenciar{
        left: 37%;
    }
    #btnInstrucciones{
        left: 51%;
    }
    #btnCreditos{
        left: 66%;
    }

    .gameButtons{
        left:41% ;
        position:fixed;
        height: 5%;
    }
    #btnInicio{
        padding-top:117%;
    }
    #btnCatrinas{
        padding-top:127%;
    }
    #btnTemas{
        padding-top:137%;
    }
}
/* iPhone 5/SE */
@media screen and (min-width:320px){ */
    body{
        background-size:320px 548px ;
    }
    .buttonClass{
        padding-top:148%;
        width:10%;
        height: 10%;
        position: fixed;
    }
    #btnPuntuacion{
        left:23% ;
    }
    #btnSilenciar{
        left: 37%;
    }
    #btnInstrucciones{
        left: 51%;
    }
    #btnCreditos{
        left: 66%;
    }

    .gameButtons{
        left:41% ;
        position:fixed;
        height: 5%;
    }
    #btnInicio{
        padding-top:113%;
    }
    #btnCatrinas{
        padding-top:123%;
    }
    #btnTemas{
        padding-top:133%;
    }
}
/*iPhone 6/7/8*/
@media screen and (min-width:375px){
    body{
        background-size:375px 667px ;
    }
    .buttonClass{
        padding-top:154%;
        width:10%;
        height: 10%;
        position: fixed;
    }
    #btnPuntuacion{
        left:23% ;
    }
    #btnSilenciar{
        left: 37%;
    }
    #btnInstrucciones{
        left: 51%;
    }
    #btnCreditos{
        left: 66%;
    }

    .gameButtons{
        left:41% ;
        position:fixed;
        height: 5%;
    }
    #btnInicio{
        padding-top:119%;
    }
    #btnCatrinas{
        padding-top:129%;
    }
    #btnTemas{
        padding-top:139%;
    }
}
/*iPad*/
@media screen and (min-width:768px){
    body{
        background-size:768px 1024px ;
    }
    .buttonClass{
        padding-top:115%;
        position: fixed;
    }
    #btnPuntuacion{
        left:23% ;
    }
    #btnSilenciar{
        left: 37%;
    }
    #btnInstrucciones{
        left: 51%;
    }
    #btnCreditos{
        left: 66%;
    }

    .gameButtons{
        left:41% ;
        position:fixed;
    }
    #btnInicio{
        padding-top:88%;
    }
    #btnCatrinas{
        padding-top:96%;
    }
    #btnTemas{
        padding-top:104%;
    }
}

/*iPad Pro*/
@media screen and (min-width:1024px){
    body{
        background-size:1024px 1366px;
    }
    .buttonClass{
        padding-top:115%;
        position: fixed;
    }
    #btnPuntuacion{
        left:23% ;
    }
    #btnSilenciar{
        left: 37%;
    }
    #btnInstrucciones{
        left: 51%;
    }
    #btnCreditos{
        left: 66%;
    }

    .gameButtons{
        left:41% ;
        position:fixed;
    }
    #btnInicio{
        padding-top:89%;
    }
    #btnCatrinas{
        padding-top:97%;
    }
    #btnTemas{
        padding-top:105%;
    }
}