@media screen and (min-width: 411px) {
    body {
        background-size: 411px 731px;  
         
    }
    #cara1{
        position: fixed;
        width:15% ;
        height: 15%;
        padding-top: 20%;
        
    }
    #cara2{
        position: fixed;
        width:15% ;
        height: 15%;
        padding-top: 60%;
    }
    #cara3{

        width:15% ;
        height: 15%;
        padding-top: 100%;
    }
    #boton-down{
    position: fixed;
        padding-left: 82%;
    }
    #boton-down2{
    position: fixed;
        padding-left: 68%;
    }
    .margen{
        padding-right: 47%; 
        padding-left: 27%;
    }
    .boton-up{
        bottom: 15%;
        padding-top: 90%;
    }
}

@media screen and (min-width: 360px) {
    body {
        background-size: 100% 138%;
    }
}

@media screen and (min-width: 375px) {
    body {
        background-size: 100% 135%;
    }
}

@media screen and (min-width: 414px) {
    body {
        background-size: 100% 137%;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-size: 100% 103%;
    }
}

@keyframes fadeInOut {
    from {opacity: 0;}
    to {opacity: 1;}
  }

body{
    background-image: url("../img/PANTALLA-SELECCION-CATRINA-EN-BLANCOS.jpg");
    background-repeat: no-repeat;
    margin: 0;
}



